{{#htmlWebpackPlugin.files.js }}
<amp-script layout="container" src="{{ . }}" sandbox="allow-forms">
  <button class="ap-a-btn">Hello amp-scriptc!</button>

  <div id="check-px" class="check">
    <h5>Analyzing page</h5>
    <progress value="0" max="100">0%</progress>
  </div>



</amp-script>
{{/htmlWebpackPlugin.files.js }}
